.cost {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  padding: 0 20px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 10px;
  background-color: #f6f6f5;
}

.total {
  font-size: 20px;
  font-weight: 800;
}

.amount {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.field,
.title {
  width: 320px;
}

.title {
  cursor: pointer;
}

.right {
  margin-top: 30px;
  display: flex;

  justify-content: flex-end;
  gap: 10px;
}

.secondWrap {
  input {
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    border-radius: 4px;
    width: 180px;
  }
}
