.register {
  text-align: left;
  input,
  select {
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    border-radius: 4px;
    width: 400px;
  }
}
.title {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  margin: 30px 0;
}
.btnWrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button {
    width: 150px;
    height: 45px;
  }
}

.text {
  padding: 20px;
  width: 400px;
  height: 200px;
}
