.tableWrapper {
  margin-bottom: 150px;
  th {
    width: 300px;
  }
  td {
    display: flex;
    gap: 15px;
    text-align: left;

    input {
      margin-right: 10px;
    }
  }
}

.btnSearch {
  margin-top: 30px;
  font-size: 14px;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.btn {
  font-size: 16px;
  background-color: #f7be1d;
  border: 1px solid #daa000;
  border-radius: 15px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #f0b101;
  }
}
