.tableWrapper {
  margin-bottom: 150px;
  th {
    width: 300px;
  }
  td {
    display: flex;
    gap: 15px;
    text-align: left;

    input {
      margin-right: 10px;
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btnSearch {
  margin-top: 30px;
  font-size: 14px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  &.border {
    background-color: #fff;
    border: 1px solid #f7be1d;
  }
}

.btn {
  width: 100px;
  font-size: 14px;
  background-color: #f7be1d;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
