.register {
  text-align: left;
  margin-bottom: 50px;
  input,
  select {
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    border-radius: 4px;
    width: 400px;
  }
}
.formWrap {
  margin-bottom: 30px;
}
.title {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  margin: 30px 0;
}
.btnWrap {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button {
    width: 150px;
    height: 45px;
  }
}

.text {
  padding: 20px;
  width: 400px;
  height: 200px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 13px;
}

.button {
  margin-left: 10px;
}
